*.csv filter=lfs diff=lfs merge=lfs -text
*.DATA-00000-OF-00001[[:space:]]File filter=lfs diff=lfs merge=lfs -text
*.GH001 filter=lfs diff=lfs merge=lfs -text
*.record filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
